gateway/HELP.md
target/
gateway/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


.idea/
.gitignore
causana.iml
misc.xml
modules.xml
vcs.xml
myenv
bin
Activate.ps1
activate
activate.csh
activate.fish
f2py
fastapi
numpy-config
pip
pip3
pip3.12
python
python3
python3.12
uvicorn
lib/python3.12/site-packages
pyvenv.cfg
main.py
requirements.txt
gateway/.mvn/wrapper
maven-wrapper.properties
src
main
java
resources
application.properties
.DS_Store
test/java/com/causana/gateway
GatewayApplicationTests.java
gateway/.gitattributes
gateway/mvnw
gateway/mvnw.cmd
gateway/pom.xml

.idea
runner.iml
README.md
causal_test_biased.csv
test.py
*.iml
*.vcs.xml
src/test/
test/
*.csv
*.iml
*.csv
test.py
test/
src/test/
gateway/test/
